<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/@tailwindcss/browser@4">
</head>
<body>
<th:block th:fragment="join-content">
  <div class="flex h-full w-full">
    <div class="flex-1 h-full"></div>
    <form id="registerForm" method="POST" class="h-full p-4 w-full flex-2 flex flex-col space-y-2">
      <div class="flex flex-col w-full">
        <label for="memberId" class="my-2 text-xs font-bold">아이디*</label>
        <div class="flex">
          <input type="text" id="memberId" name="memberId" class="border p-2 h-10 w-80" required>
          <button type="button" id="idValid"
                  class="bg-blue-500 text-white ml-4 px-4 w-36 text-center rounded transition duration-300 ease-in-out hover:bg-blue-600 cursor-pointer">
            중복 확인
          </button>
        </div>
        <div id="message" class="p-2 text-sm text-red-500"></div>
      </div>

      <div class="flex flex-col w-full">
        <label for="pw" class="my-2 text-xs font-bold">비밀번호*</label>
        <input type="password" id="pw" name="pw" class="border p-2 h-10 w-80" required>
      </div>

      <div class="flex flex-col w-full">
        <label for="pwConfirm" class="my-2 text-xs font-bold">비밀번호 확인*</label>
        <input type="password" id="pwConfirm" name="pwConfirm" class="border p-2 h-10 w-80" required>
      </div>

      <div class="flex flex-col w-full">
        <label for="tel" class="my-2 text-xs font-bold">전화번호*</label>
        <input type="text" id="tel" name="tel" class="border p-2 h-10 w-80" required>
      </div>
      <div class="flex flex-col w-full">
        <label for="email" class="my-2 text-xs font-bold">이메일*</label>
        <div class="flex">
          <input type="email" id="email" name="email" class="border p-2 h-10 w-80" required>
          <button type="button" id="sendVerificationEmail"
                  class="bg-blue-500 text-white ml-4 px-4 w-36 text-center rounded transition duration-300 ease-in-out hover:bg-blue-600 cursor-pointer">
            인증 코드 전송
          </button>
        </div>
      </div>
      <div class="flex flex-col w-full">
        <label for="code" class="my-2 text-xs font-bold">인증 코드*</label>
        <div class="flex">
          <input type="text" id="code" name="code" class="border p-2 h-10 w-80" required>
          <button type="button" id="emailValid"
                  class="bg-blue-500 text-white ml-4 px-4 w-36 text-center rounded transition duration-300 ease-in-out hover:bg-blue-600 cursor-pointer">
            인증하기
          </button>
        </div>
      </div>
        <div>
          <button type="submit"
                  class="bg-blue-500 text-white my-4 px-4 py-2 text-center rounded w-80 h-10 inline-block transition duration-300 ease-in-out hover:bg-blue-600 cursor-pointer">
            회원가입
          </button>
        </div>
    </form>
  </div>
</th:block>

</body>
</html>
