
  <th:block th:fragment="memberinfo-content">
    <div id="member-info" class="w-full h-full min-h-[65vh] bg-white flex flex-col">
      <div id="registerForm" th:object="${memberInfoDto}" class="p-4 flex-1 flex flex-col items-center space-y-2">
        <!-- 수정완료 메시지 출력
        <div th:if="${success}" th:text="${success}" class="mt-4 font-bold text-red-500 text-xl flex justify-center">
        </div> -->
        <div id="info-container" class="flex-1 flex flex-col justify-center">
          <!-- id 영역 -->
          <div id="id-input" class="flex flex-col">
            <label for="memberId" class="my-2 text-xs font-bold">아이디</label>
            <input type="text" th:field="*{memberId}" id="memberId" name="memberId" class="border p-2 h-10 w-80"
              disabled required>
          </div>
          <!-- 비밀번호 영역 -->
          <div id="pw-input" class="flex flex-col">
            <label for="pw" class="my-2 text-xs font-bold">비밀번호</label>
            <input type="password" th:field="*{pw}" id="pw" name="pw" class="border p-2 h-10 w-80" disabled
              required>
          </div>
          <!-- 전화 번호 영역 -->
          <div id="tel-input" class="flex flex-col">
            <label for="tel" class="my-2 text-xs font-bold">전화번호</label>
            <input type="text" th:field="*{tel}" id="tel" name="tel" class="border p-2 h-10 w-80" disabled
              required>
          </div>
          <!-- 이메일 영역 -->
          <div id="email-input" class="flex flex-col">
            <label for="email" class="my-2 text-xs font-bold">이메일</label>
            <input type="email" th:field="*{email}" id="email" name="email" class="border p-2 h-10 w-80" disabled
              required>
          </div>
        </div>
        <!-- 버튼 영역 -->
        <div id="button-wrap">
          <a th:href="@{/member-info/modify-auth}" id="request-modify"
            class="bg-blue-500 text-white my-4 px-4 py-2 text-center rounded w-80 h-10 inline-block transition duration-300 ease-in-out hover:bg-blue-600 cursor-pointer">
            회원 정보 수정 하기
        </a>
        </div>
      </div>
    </div>
  </th:block>
