<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  <script th:src="@{/js/common.js}" defer></script>
  <script th:src="@{/js/infomodifyauth.js}" defer></script>
  <title>Title</title>
</head>
<body class="bg-gray-200">
  <div class="container mx-auto">
    <div class="grid grid-cols-10">
      <!-- 헤더 영역 -->
      <div th:replace="~{fragments/header :: header}"></div>
  
      <!-- 검색 영역 -->
      <div th:replace="~{fragments/search :: search}"></div>
  
      <!-- Nav 영역 -->
      <div th:replace="~{fragments/nav :: nav}"></div>
  
      <!-- Main 영역 -->
      <div class="col-span-2 h-full min-h-[65vh] bg-gray-200 p-4 text-white"></div>
      <div class="col-span-6 h-full min-h-[65vh] bg-white text-black flex flex-col justify-center items-center">
        <div th:replace="~{fragments/main-header :: main-header(title='회원 정보 수정 이메일 인증')}"></div>
        <div th:replace="~{fragments/member/info-modify-auth-content :: info-modify-auth-content}"></div>
      </div>
      <div class="col-span-2 h-full min-h-[65vh] bg-gray-200 p-4 text-white"></div>
      <!-- footer 영역-->
      <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
  </div>
  

</body>
</html>