<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  <script th:inline="javascript" defer>
    const memberRisk = /*[[${memberTraits.memberRisk}]]*/;
  </script>
  <script th:src="@{/js/mypage.js}" defer></script>
  <link rel="stylesheet" th:href="@{/css/mypage.css}">
  <title>Title</title>
</head>
<body class="bg-gray-200">
<div class="container mx-auto max-w-screen-xl flex flex-col">

  <!-- 헤더 영역 -->
  <th:block th:replace="~{fragments/header :: header}"></th:block>

  <!-- 검색 영역 -->
  <th:block th:replace="~{fragments/search :: search}"></th:block>

  <!-- Nav 영역 -->
  <th:block th:replace="~{fragments/nav :: nav}"></th:block>

  <!-- Main 영역 -->

  <th:block th:replace="~{fragments/main-header :: main-header(title='투자 성향 조회/수정')}"></th:block>
  <th:block th:replace="~{fragments/propensityTest/mypage-content :: mypage-content}"></th:block>
  <!-- footer 영역-->
  <th:block th:replace="~{fragments/footer :: footer}"></th:block>
</div>
</body>
</html>