<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  <script>

    // 위험도 체크하고 제출 했는지 검증
    function validateForm(event) {
      const radios = document.querySelectorAll('input[name="memberRisk"]');
      let isChecked = false;

      for (const radio of radios) {
        if (radio.checked) {
          isChecked = true;
          break;
        }
      }
      if (!isChecked) {
        event.preventDefault(); // 폼 제출 방지
        alert('위험 단계를 선택해 주세요.'); // 경고 메시지
      }
    }
  </script>
  <title>성향검사 1단계 : 위험단계 설정</title>
</head>
<body class="bg-gray-200">
<div class="container mx-auto max-w-screen-xl flex flex-col">
  <!-- 로그인 에러 메시지 출력 -->
  <div th:if="${nonLoginError}" class="alert alert-danger">
    <span th:text="${nonLoginError}"></span>
  </div>
  <!-- 성향 검사 이미 진행한 경우의 메시지 출력 -->
  <div th:if="${isExistTraitError}" class="alert alert-warning">
    <span th:text="${isExistTraitError}"></span>
  </div>
  <!-- 헤더 영역 -->
  <th:block th:replace="~{fragments/header :: header}"></th:block>

  <!-- 검색 영역 -->
  <th:block th:replace="~{fragments/search :: search}"></th:block>

  <!-- Nav 영역 -->
  <th:block th:replace="~{fragments/nav :: nav}"></th:block>

  <!-- Main 영역 -->

  <th:block th:replace="~{fragments/main-header :: main-header(title='위험 단계 설정')}"></th:block>
  <th:block th:replace="~{fragments/propensityTest/risktest-content :: risktest-content}"></th:block>

  <!-- footer 영역-->
  <th:block th:replace="~{fragments/footer :: footer}"></th:block>
</div>
</body>
</html>