<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>희망 수익률 설정</title>
</head>
<body>
<h3>희망 수익률 설정</h3>
<div>
  <p>선택한 위험도: <span th:text="${memberTraitsDto.memberRisk}"></span></p> <!-- 위험도 표시 -->
  <span th:if="${memberTraits == null}">위험도가 설정되지 않았습니다.</span>
  <p>선택한 위험단계에서 설정할수 있는 최대 희망수익률: <span th:text="${maxRtn}"></span></p>
  <form th:action="@{/propensity-test/min-return}" method="POST">
    <label for="expRtn">희망 수익률 입력:</label>
    <input type="number" id="expRtn" name="expRtn" step="0.01" required>
    <button type="submit">설정</button>
  </form>


  <a th:href="@{/propensity-test/sectors}">
    <button>이전</button>
  </a>
  <a th:href="@{/propensity-test/finish}">
    <button>완료</button>
  </a>

</div>

</body>
</html>