<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/@tailwindcss/browser@4">
</head>

<body>
  <th:block th:fragment="main-layout">
    
      <div class="bg-green-300 w-full flex-4 flex justify-center items-center">실시간 국내 지수</div>
      <div class="bg-gray-500 text-white flex-1 w-full flex justify-center items-center">주요 이슈</div>
      <div class="flex-5 w-full flex justify-center items-center">지표별 상위 종목</div>
    
   
  </th:block>
</body>

</html>