<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  <style>
    body {
        font-family: Arial, sans-serif;
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
    }
  </style>
  <title>추천 종목 목록</title>
</head>
<body class="bg-gray-200">
<!-- 로그인 에러 메시지 출력 -->
<div th:if="${nonLoginError}" class="alert alert-danger">
  <span th:text="${nonLoginError}"></span>
</div>
<div class="container mx-auto max-w-screen-xl flex flex-col">

  <!-- 헤더 영역 -->
  <th:block th:replace="~{fragments/header :: header}"></th:block>

  <!-- 검색 영역 -->
  <th:block th:replace="~{fragments/search :: search}"></th:block>

  <!-- Nav 영역 -->
  <th:block th:replace="~{fragments/nav :: nav}"></th:block>

  <!-- Main 영역 -->

  <th:block th:replace="~{fragments/main-header :: main-header(title='추천 종목')}"></th:block>
  <th:block th:replace="~{fragments/stockRecommendation/stockreclist :: stockreclist}"></th:block>
  <!-- footer 영역-->
  <th:block th:replace="~{fragments/footer :: footer}"></th:block>

</div>
</body>
</html>