<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/@tailwindcss/browser@4">
</head>

<body>
  <th:block th:fragment="stockreclist">
    <!-- 에러 메시지 표시 -->
    <div th:if="${error}">
      <p style="color: red;" th:text="${error}"></p>
    </div>
    <div class="bg-white text-black flex-1 flex justify-between items-center w-full">
      <p th:text="${memberId} + '님에게 아래 종목들을 추천합니다.'" class="px-4 py-2 text-xl">default</p>
      <div class="flex flex-col justify-end">
        <p class="px-4 pt-2 text-base">입력한 날짜: <span th:text="${dateInput} + '~' + ${today}" class="text-base text-bold"></span></p>
        <p class="px-4 pb-2 text-base">입력한 기간: <span th:text="${period} + '일'" class="text-base text-bold"></span></p>
      </div>
    </div>
    <!-- 추천 종목 테이블 -->
    <table id="recStockTable" class="flex-4 w-full">
      <thead>
        <tr>
          <th>업종명</th>
          <th>종목명</th>
          <th>수익률</th>
          <th>변동성</th>
          <th>위험도</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="stock : ${recommendedStocks}">
          <!--    <td th:text="${stock.recStkId}"></td>-->
          <td th:text="${stock.secNm}"></td>
          <td th:text="${stock.stkNm}"></td>
          <td th:text="${stock.recRtn} + '%'"></td>
          <td th:text="${stock.recVol} + '%'"></td>
          <td th:text="${stock.recRisk}"></td>
        </tr>
      </tbody>
    </table>

    <div class="m-2 flex-1 w-full flex justify-end items-end ">
      <a th:href="@{/recstk}" class="bg-blue-500 text-white text-center mr-2 p-2 rounded w-32 inline-block transition duration-300 ease-in-out hover:bg-blue-600 cursor-pointer">
        다시 추천받기
      </a>
      <a th:href="@{/}"
        class="bg-blue-500 text-white text-center mr-2 p-2 rounded w-32 inline-block transition duration-300 ease-in-out hover:bg-blue-600 cursor-pointer">
        메인 화면
      </a>
    </div>
  </th:block>
</body>

</html>