<th:block th:fragment="trend-content">
  <div id="trend-container" class="w-full h-full min-h-[65vh] bg-white flex flex-col items-center justify-between">
    <div id="upper-contents" class="px-6 pt-6 w-full flex-1 flex">
      <div id="word-cloud-container" class="flex-1 flex justify-center items-center">
        워드클라우드 이미지
      </div>
      <div id="sector-trend-container" class="flex-1">
        <h1 class="font-extrabold text-xl mb-4">실시간 이슈 업종</h1>
        <div id="marketSelection" class="flex space-x-4">
          <span id="kospi"
                class="font-bold text-black market-option cursor-pointer p-2 border border-transparent">KOSPI</span>
          <span class="p-2">|</span>
          <span id="kosdaq"
                class="text-gray-300 market-option cursor-pointer p-2 border border-transparent">KOSDAQ</span>
        </div>
        <input type="hidden" id="marketId" value="1"> <!-- 기본값 설정 -->
        <table id="trendTable">
          <thead>
          <tr>
            <th class="text-sm">업종명</th>
            <th class="text-sm">
              뉴스 증가율 <span class="text-xs arrow sortable cursor-pointer" data-order="NEWS_INCREASE_RATE">▼</span>
            </th>
            <th class="text-sm">
              여론 증가율 <span class="text-xs arrow sortable cursor-pointer" data-order="COMMUNITY_INCREASE_RATE">▼</span>
            </th>
          </tr>
          </thead>
          <tbody>
          <!-- 업종 데이터-->
          </tbody>
        </table>
      </div>
    </div>
  <div id="lower-content-container" class="px-6 pt-6 w-full h-full flex-1">
    <h1 class="font-extrabold text-xl mb-4">실시간 이슈 종목</h1>
    <table id="stocksTable">
      <thead>
      <tr>
        <th class="text-sm">종목명</th>
        <th class="text-sm">
          뉴스 증가율 <span class="text-xs arrow sortable cursor-pointer" data-order="NEWS_INCREASE_RATE">▼</span>
        </th>
        <th class="text-sm">
          여론 증가율 <span class="text-xs arrow sortable cursor-pointer" data-order="COMMUNITY_INCREASE_RATE">▼</span>
        </th>
      </tr>
      </thead>
      <tbody>
      <!-- 주식 데이터 -->
      </tbody>
    </table>
  </div>
  </div>
</th:block>
