<th:block th:fragment="stockdetail-content">
  <div id="stock-detail-container"
    class="w-full h-full min-h-[65vh] bg-white flex flex-col items-center justify-between">
    <div id="detail-graph">
      <span th:text="${stkNm}"></span>
      캔들 차트
    </div>
    <div id="stock-info" class="px-6 w-full flex-1 flex flex-col justify-end">
      <h1 class="font-extrabold text-xl mb-4">종목 현재 지표</h1>
      <table id="stock-detail-table">
        <thead>
          <tr>
            <th>종목명</th>
            <th>가격</th>
            <th>전일비</th>
            <th>등락률(%)</th>
            <th>거래량</th>
            <th>거래대금(백만)</th>
            <th>시가총액(억)</th>
            <th>위험도</th>
          </tr>
        </thead>
        <tbody>
          <!-- 데이터가 여기에 삽입됩니다. -->
        </tbody>
      </table>
    </div>
    <div id="stock-news-container" class="px-6 pt-6 pb-2 w-full h-full flex flex-col justify-end">
      <h1 class="font-extrabold text-xl mb-4">종목 관련 뉴스</h1>
      <table id="stock-news-table">
        <thead>
          <tr>
            <th class="text-sm w-7/10">제목</th>
            <th class="text-sm text-center w-1/10">정보 제공</th>
            <th class="text-sm text-center w-2/10">날짜</th>
          </tr>
        </thead>
        <tbody>
          <!-- 주식 데이터 -->
        </tbody>
      </table>
    </div>
  </div>
</th:block>