<th:block th:fragment="interestsectors-content">
  <div id="int-sector-container" class="w-full h-full min-h-[65vh] bg-white flex flex-col justify-between">
    <div id="int-sector-manual">
      <p class="px-4 my-3">관심 업종이 존재한다면, 관심 업종 내에서 우선적으로 종목이 추천됩니다.</p>
      <p class="px-4 mb-3">'추천'은 앞서 선택한 위험단계 내에서 최근 한달 수익률 지표가 좋은 업종입니다</p>
      <p class="px-4 mb-3"> 관심 업종 선택을 하지 않아도, 다음 단계로 진행하실 수 있습니다.</p>
      <p class="px-4 my-3">선택한 위험도: <span th:text="${memberTraitsDto.memberRisk} + '단계'"></span></p> <!-- 위험도 표시 -->
    </div>
    <div id="select-int-sector" class="w-full flex flex-col">
      <form action="" method="POST" th:object="${memberTraitsDto}"
            class="w-full flex-1 flex flex-col justify-between border-t overflow-y-auto">
        <div th:each="entry : ${groupedSectors}">
          <h4 th:text="${marketNames[entry.key]}" class="text-lg font-bold mb-2 p-4">Market Name</h4>
          <!-- MARKET_ID에 해당하는 이름 표시 -->
          <div class="grid grid-cols-3 gap-4">
            <div th:each="sector : ${entry.value}" class="flex items-center px-6">
              <input type="checkbox" th:field="*{intSec}" th:value="${sector.secId}" id="sector_${sector.traitRecSecId}"
                     class="mr-2">
              <label th:for="'sector_' + ${sector.traitRecSecId}" class="block">
                <span th:text="${sector.secNm}"></span>   <!-- 업종명 표시 -->
                <span th:if="${topSectors[entry.key].contains(sector)}" class="text-green-500">(추천)</span>
                <!-- 추천 표시 -->
              </label>
            </div>
          </div>
        </div>
        <div id="under-menu" class="w-full sticky bottom-0 flex justify-between items-center">
          <div>
            <p class="text-sm text-gray-400 p-4">*표시는 코스닥 업종 표시입니다.</p>
          </div>
          <div id="button-container" class="p-2 flex justify-end items-center">
            <a th:href="@{/propensity-test/risks}"
               class="bg-gray-300 text-black text-center px-4 py-2 rounded w-32 mr-4 inline-block transition duration-300 ease-in-out hover:bg-gray-400 hover:text-white">
              이전
            </a>
            <button type="submit"
                    class="bg-blue-500 text-white text-center p-2 rounded w-32 inline-block transition duration-300 ease-in-out hover:bg-blue-600 cursor-pointer">
              다음>>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</th:block>
