<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/@tailwindcss/browser@4">
</head>
<body>
<th:block th:fragment="modifytraits-content">
  <div id="traits-container" class="h-full w-full mt-4 p-2">
    <p class="px-2 mb-3">
      <span th:text="${session.loginOkMember.memberId} + '님의 투자 성향은 다음과 같습니다.'" class="px-2 pb-6 text-2xl"></span>
    </p>
    <p class="p-4 text-xl font-bold">위험도 :
      <span th:text="${memberTraitsDto.memberRisk} + ' 단계'" class="text-xl text-bold"></span>
      <a th:href="@{/propensity-test/my-page/modify/risk}" id="risk-modify-btn">
        위험단계 수정
      </a>
    </p>
    <p class="p-4 font-bold text-xl">관심업종 :
      <span th:text="${intSecNm}" class="text-xl font-bold"></span>
      <a th:href="@{/propensity-test/my-page/modify/sectors}" id="trait-sectors-modify-btn">
        관심 업종 수정
      </a>
    </p>
    <p class="p-4 font-bold text-xl"> 희망 수익률 :
      <span th:text="${memberTraitsDto.expRtn} + '% 이상'" class="text-xl text-bold">
        </span>
      <a id="exp-returns-modify-btn">
        희망 수익률 수정
      </a>
    </p>
  </div>
  <div id="modify" class="p-2 mt-6 w-full flex justify-end item-center">
    <a th:href="@{/propensity-test/my-page/modify}"
       class="bg-blue-500 text-white text-center mr-2 px-4 py-2 rounded mr-4 w-45 inline-block transition duration-300 ease-in-out hover:bg-blue-600">
      수정 취소
    </a>
    <a th:href="@{/propensity-test/my-page/modify}"
       class="bg-blue-500 text-white text-center mr-2 px-4 py-2 rounded mr-4 w-45 inline-block transition duration-300 ease-in-out hover:bg-blue-600">
      수정 완료
    </a>
  </div>

</th:block>
</body>
</html>
