<th:block th:fragment="login-content">
  <div id="login-container" class="w-full h-full min-h-[65vh] bg-white flex flex-col">
    <form action="" method="POST" th:object="${loginForm}" class="flex-1 flex flex-col justify-center items-center">
      <!-- 로그인 에러 메시지 출력 -->
      <div th:if="${error}" th:text="${error}" class="mt-4 font-bold text-red-500 text-xl flex justify-center">
      </div>
      <div id="input-container" class="mb-6">
      <div id="insert-id" class="flex flex-col">
        <label for="memberId" class="my-2 text-xs font-bold">아이디</label>
        <input type="text" id="memberId" name="memberId" class="border p-2 h-8 w-80" th:field="*{memberId}"
               required>
      </div>
      <div id="insert-pw" class="flex flex-col">
        <label for="pw" class="my-2 text-xs font-bold">비밀번호</label>
        <input type="password" id="pw" name="pw" class="border p-2 h-8 w-80" th:field="*{pw}" required>
      </div>
      </div>

      <div id="login-sub-menu" class="my-6 flex flex-col items-center space-y-2">
        <div id="search-member-info" class="my-2 flex justify-center">
          <a th:href="@{/search-info}" id="search-id" class="mx-1 text-xs font-bold">
            아이디 찾기
          </a>
          <span class="mx-1 text-xs font-bold">|</span>
          <a th:href="@{/search-info}" id="search-pw" class="mx-1 text-xs font-bold">비밀번호 찾기</a>
        </div>
        <div id="login-button">
          <button
              class="w-48 h-8 text-center text-sm font-bold bg-gray-200 rounded border border-1 cursor-pointer">로그인
          </button>
        </div>
        <div>
          <span class="mx-1 text-xs font-bold">아직 회원이 아니신가요?</span>
        </div>
        <div id="join-button" class="w-48 h-8 bg-gray-200 rounded border border-1">
          <a th:href="@{/register}" class="w-48 h-8 flex justify-center items-center">
            <span class="text-sm font-bold">회원가입</span>
          </a>
        </div>
      </div>
    </form>
  </div>
</th:block>
